<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="index.html">
                    <i class="fas fa-home"></i>
                    Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="content.html">
                    <i class="fas fa-file"></i>
                    Pages
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="content.html">
                    <i class="fas fa-check-circle"></i>
                    Categories
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tags.html">
                    <i class="fas fa-tag"></i>
                    Tags
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="content.html">
                    <i class="fas fa-images"></i>
                    Images
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="content.html">
                    <i class="fas fa-file"></i>
                    Pages
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="types.html">
                    <i class="fas fa-sort"></i>
                    Types
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="plugins.html">
                    <i class="fas fa-plug"></i>
                    Plugins
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="snippets.html">
                    <i class="fas fa-file-code"></i>
                    Snippets
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="layouts.html">
                    <i class="fas fa-code"></i>
                    Layouts
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="users.html">
                    <i class="fas fa-users"></i>
                    Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="settings.html">
                    <i class="fas fa-cog"></i>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</nav>